/* START LOJAS */
body{
    background: #F68600
}
.box-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.box-card{
    height: 150px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    border-radius: 4px;
    background: white;


}

.box-img{
    border-radius: 7px;
    width: 71%;
    height: 65%;


}

.box-title{
    font-size: 0.9em;
    text-align: center;
    padding: 6px;
}

.check-lojas{
    display: none
}

.box-active{
    /* border: 2px solid #ffb000; */
    border:2px solid #0091e2;
    border-radius: 5px;

}

/* FIM START LOJAS*/


/*START*/
.box-container-start{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}

.box-mensagem-start{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,1);
    background-color: #f1f1f1;
    border-radius: 2px;
    padding-left: 14px;
padding-top: 11px;
padding-right: 10px;


}
.box-img-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:18px;
    
}

.box-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:18px;
    
}
.img-box-mensagem-start{
    margin-right: 20px;
    border-radius: 43px;
    width: 16%;
    height: 55px;
    align-self: flex-start;


}
.button-avancar{
    height: 45px;
    color: white;
    /* background: #ffb000; */
    background: #0091e2;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 19px;
    width: 119px;
    text-align: center;
    line-height: 44px;
    margin-top: 4%;
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,1);
    text-decoration: none;
    cursor: pointer;

}
a {
 text-decoration: none ;
}
a:hover
 {
color:white !important;
text-decoration:none !important;
cursor:pointer;
}

.button-avancar-red{
    height: 45px;
    color: white;
    /*background: #9a0505;*/
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 19px;
    border: 1px solid white;
    width: 119px;
    text-align: center;
    line-height: 44px;
    margin-top: 4%;
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,1);
    text-decoration: none;
    background: linear-gradient(135deg, #9a0505 0%,#ffb000 100%);

}

.back-grad{
    background: linear-gradient(135deg, #9a0505 0%,#ffb000 100%);
    color: white;
}



/* FIM START*/

.textos-soltos{
    color: white !important;
}